<p>todo-list works!</p>
<div>
  <input class="border p-1 rounded-2xl" type="text" [(ngModel)]="input" />
  <button (click)="addTodo()" type="submit">Создать</button>
</div>
<div>
  @for (todo of todos(); track $index) {
    <div class="flex gap-2 border rounded-2xl border-amber-600 w-max p-3 my-3 items-center">
      <p>{{ todo }}</p>
      <button class="cursor-pointer border rounded-2xl p-1 bg-red-600 border-red-600 text-white" (click)="deleteTodo(todo)">Удалить</button>
      <button class="cursor-pointer border rounded-2xl p-1 bg-purple-600 border-purple-600 text-white" (click)="startEdit($index, todo)">Изменить</button>
    </div>

    @if (editingIndex() === $index) {
      <div class="flex gap-2">
        <input type="text" [(ngModel)]="editingText" class="border p-1 rounded-2xl" />
        <button class="cursor-pointer border rounded-2xl p-1 bg-green-600 border-green-600 text-white" (click)="saveTodo()">Сохранить</button>
        <button class="cursor-pointer border rounded-2xl p-1 bg-cyan-600 border-cyan-600 text-white" (click)="cancelEdit()">Отмена</button>
      </div>
    }
  }
</div>
